<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Catamaran" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css">
    <link href="css/styles-katalog.css" rel="stylesheet">
    <title>Katalog</title>
</head>
<body>
    <nav class="menu-bar">
        <a href="index.html"><div id="logo"></div></a>
        <a href="index.html">Główna</a>
        <a href="katalog.html">Katalog</a>
        <a href="kontakt.html">Kontakt</a>
    </nav>

    <nav class="vertical-menu">

        <a href="#doniczkowe-duze"><div class="vertical-menu-position">doniczkowe duże</div></a>
        <a href="#doniczkowe-male"><div class="vertical-menu-position">doniczkowe małe</div></a>
        <a href="#iglaste"><div class="vertical-menu-position">iglaste</div></a>
        <a href="#kolorowe"><div class="vertical-menu-position">kolorowe</div></a>

    </nav>

    <div class="katalog">
        <div class="header"><h1><a name="doniczkowe-duze">Rośliny doniczkowe duże</a></h1></div>
        <div class="gallery">
            <img src="images/duze/filodendron.jpg">
            <div class="catalog-description">Filodendron</div>
        </div>
        <div class="gallery">
            <img src="images/duze/juka.jpg">
            <div class="catalog-description">Juka</div>
        </div>
        <div class="gallery">
            <img src="images/duze/palma.jpg">
            <div class="catalog-description">Palma</div>
        </div>
        <div class="gallery">
            <img src="images/duze/pachira.jpg" width="auto" height="200">
            <div class="catalog-description">Pachira</div>
        </div>
        <div class="header"><h1><a name="doniczkowe-male">Rośliny doniczkowe małe</a></h1></div>
        <div class="gallery">
            <img src="images/male/figowiec.jpg">
            <div class="catalog-description">Figowiec</div>
        </div>
        <div class="gallery">
            <img src="images/male/aloes.jpg">
            <div class="catalog-description">Aloes</div>
        </div>
        <div class="gallery">
            <img src="images/male/hedera.jpg">
            <div class="catalog-description">Hedera</div>
        </div>
        <div class="gallery">
            <img src="images/male/kaktusy.jpg">
            <div class="catalog-description">Kaktusy</div>
        </div>
        <div class="gallery">
            <img src="images/male/peperomia.jpg">
            <div class="catalog-description">Peperomia</div>
        </div>
        <div class="gallery">
            <img src="images/male/zamiokulus.jpg">
            <div class="catalog-description">Zamiokulkas</div>
        </div>

        <div class="header"><h1><a name="iglaste">Iglaste</a></h1></div>
        <div class="gallery">
            <img src="images/iglaste/iglaste1.jpg">
            <div class="catalog-description">Drzewko iglaste</div>
        </div>
        <div class="gallery">
            <img src="images/iglaste/araukaria.jpg">
            <div class="catalog-description">Araukaria</div>
        </div>
        <div class="gallery">
            <img src="images/iglaste/daglezja.jpg">
            <div class="catalog-description">Daglezja</div>
        </div>
        <div class="gallery">
            <img src="images/iglaste/tuja.jpg">
            <div class="catalog-description">Tuja</div>
        </div>
        <div class="header"><h1><a name="kolorowe">Kolorowe</a></h1></div>
        <div class="gallery">
            <img src="images/kolorowe/azalia.jpg">
            <div class="catalog-description">Azalia</div>
        </div>
        <div class="gallery">
            <img src="images/kolorowe/cyklamen.jpg">
            <div class="catalog-description">Cyklamen</div>
        </div>
        <div class="gallery">
            <img src="images/kolorowe/frizea.jpg">
            <div class="catalog-description">Frizea</div>
        </div>
        <div class="gallery">
            <img src="images/kolorowe/gloksynia.jpg">
            <div class="catalog-description">Gloksynia</div>
        </div>
        <div class="gallery">
            <img src="images/kolorowe/guzmania.jpg">
            <div class="catalog-description">Guzmania</div>
        </div>
        <div class="gallery">
            <img src="images/kolorowe/skrzydlokwiat.jpg">
            <div class="catalog-description">Skrzydłokwiat</div>
        </div>
        </div>
    </div>
    <footer>
        <p>2018-05-14   Copyright by Rośliny</p>
    </footer>
</body>
</html>